<form class="form-ctn" [formGroup]="invoicesForm" *ngIf="invoicesForm" (ngSubmit)="submit()">
    <h3>Generar Comprobante</h3>
    <div class="form-ctn">
        <div class="input-ctn row">
            <label>N°</label>
            <input placeholder="Codigo" readonly type="number" value="{{lastInvoice}}" formControlName="id">
        </div>
        <div class="input-ctn row">
            <label>Trabajo</label>
            <select formControlName="job">
                <option (click)="selectJob()" *ngFor="let job of jobs" [value]="job?.id" title="job?.name" id="job.id">
                    {{ job?.name }}
                </option>
            </select>
        </div>
        <div class="input-ctn row">
            <label>Fecha de entrega</label>
            <input placeholder="Fecha de Entrega" type="date" formControlName="deliveryDate">
        </div>
        <div class="input-ctn row">
            <label>Nombre</label>
            <input placeholder="Nombre" formControlName="name">
        </div>
        <div class="input-ctn row">
            <label>Telefono</label>
            <input placeholder="Telefono" type="number" inputmode="numeric" value="0" formControlName="phone">
        </div>
        <div class="input-ctn row">
            <label>Total</label>
            <input placeholder="Total" type="number" inputmode="numeric" [value]="selectedJob?.price" readonly
                formControlName="total">
        </div>
        <div class="input-ctn row">
            <label>Seña</label>
            <input placeholder="Sena" type="number" inputmode="numeric" formControlName="deposit"
                (change)="setBalance()">
        </div>
        <div class="input-ctn row">
            <label>Saldo</label>
            <input placeholder="Saldo" type="number" inputmode="numeric" [value]="balance" formControlName="balance">
        </div>
    </div>
    <input class="submit" value="Generar" (click)="submit()">
</form>