.form-ctn{
    h3{
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 10px;
    }
    padding: 0 10px 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;    
    .input-ctn{
        width: 70%;
        height: 100%;
        align-items: flex-start;
        margin: 10px 0;
        label{
            font-size: 1.2em;
            font-weight: 500;
            margin-bottom: 5px;
        }
        input, select{
            width: 100%;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            font-size: 1em;
        }
    }
    .submit{
        width: 100px;
        background-color: rgb(25, 66, 248);
        border: 2px solid white;
        border-radius: 6px;
        color: white;
        padding: 5px;
        margin-bottom: 7px;
        cursor: pointer;
        font-size: 1.2em;
        text-align: center;
        &:hover{
            background-color: rgb(25, 66, 248, 0.8);
        }   
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

.close-icon{
    position: relative;
    right: -200px;
    top: 30px;
}