<form [formGroup]="customerForm" (submit)="addCustomer()" class="customer-form">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="phone">Telefono</label>
            <input type="number" class="form-control" id="phone" formControlName="phone">
        </div>
        <input type="submit" value="Agregar" class="btn btn-primary btn-block">
    </div>
</form>