<form [formGroup]="jobsForm" (submit)="createJob()">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Trabajo</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="jobName">Trabajo</label>
            <input type="text" class="form-control" id="jobName" formControlName="name">
        </div>
        <div class="form-group">
            <label for="jobPrice">Precio</label>
            <input type="number" class="form-control" id="jobPrice" formControlName="price">
        </div>
        <input type="submit" value="Agregar">
        <!-- 
        <div class="form-group">
            <label for="jobStatus">Job Status</label>
            <select class="form-control" id="jobStatus" formControlName="jobStatus">
                <option value="0">Pending</option>
                <option value="1">Completed</option>
            </select>
        </div> -->
    </div>
</form>