<div class="table-ctn">
    <h2>Lista de Trabajos</h2>
    <table class="jobs-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobs">
                <td>{{job.name}}</td>
                <td>{{job.price}}</td>
                <!-- <td> -->
                <!-- <button (click)="editJob(job)" *ngIf="job?.id !== 0" class="edit-btn">Editar</button> -->
                <!-- <button *ngIf="job?.id !== 0" (click)="questionDelete(job?.id)" class="delete-btn">Eliminar</button> -->
                <!-- </td> -->
            </tr>
        </tbody>
    </table>
    <div *ngIf="isLoading" class="loading-message">
        <div class="spinner"></div>
        Cargando...
    </div>
</div>