<!-- <app-sidebar /> -->
<div class="main">
    <div>
        <h1>Bienvenida!</h1>
        <p>Este es el panel de control de tu aplicación.</p>
        <p>¡Que disfrutes!</p>
    </div>
    <div class="options-ctn">
        <div title="Generar Comprobante"  class="option">
            <mat-icon class="material-symbols-outlined">
            description
            </mat-icon>
        </div>
       <div  title="Generar Comprobante" class="option">
            <mat-icon class="material-symbols-outlined">
            note_add
            </mat-icon>
        </div>
       <div  title="Generar Comprobante" class="option">
            <mat-icon class="icon material-symbols-outlined">
            work
            </mat-icon>
        </div>
        <div  title="Generar Comprobante" class="option">
            <mat-icon class="icon material-symbols-outlined">
            list_alt
            </mat-icon>
        </div>
    </div>
    <router-outlet/>
</div>