.main{
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 25px;
    background-color: #3f51b5;
}

.options-ctn{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

    .option{
        background-color: #3f51b5;
        padding: 10px 10px 0 10px;
        border-radius: 8px;
        border: 2px solid #fff;
        width: 140px;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        p{
            font-weight: 450;
            text-align: center;
            color: #fff;
        }

        .icon{
            color: #fff; 
            transform: scale(2);
            margin-top: 20px;
        }
    }
    .option:hover{
        background-color: #fff;
        color: white;
        .icon{
            color: #3f51b5;
        }
        p {    
            color: #3f51b5;
        }
    }
}


/*
    menu flotante
*/
.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: #3f51b5;
  padding: 6px 0;
  color: #fff;
}

.example-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #fff;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: #fff;
  color: #3f51b5;

}

.example-menu-item:active {
  background-color: #fff;
  color: #3f51b5;

}

.example-standalone-item {
  background-color: #fff;
  color: #3f51b5;

}
.example-standalone-item:hover {
  background-color: #fff;
  color: #3f51b5;

}
.example-standalone-item[aria-expanded='true'] {
  background-color: #fff;
  color: #3f51b5;

}
