<!-- <app-sidebar /> -->
<div class="main">
  <div class="login">
    <mat-icon (click)="goToLogin()" class="icon material-symbols-outlined">
      login
    </mat-icon>
  </div>
  <div class="options-ctn">
    <div [cdkMenuTriggerFor]="menu" title="Generar Comprobante" class="option">
      <mat-icon class="icon material-symbols-outlined"> description </mat-icon>
      <p>Comprobantes</p>
      <ng-template #menu>
        <div class="example-menu" cdkMenu>
          <button (click)="openInvoice(0)" class="example-menu-item no-outline" cdkMenuItem>
            Generar Comprobante
          </button>
          <button routerLink="list/invoices" class="example-menu-item no-outline" cdkMenuItem>
            Ver Comprobantes
          </button>
        </div>
      </ng-template>
    </div>
    <div [cdkMenuTriggerFor]="jobMenu" title="Trabajos" class="option">
      <mat-icon class="icon material-symbols-outlined"> work </mat-icon>
      <p>Trabajos</p>
      <ng-template #jobMenu>
        <div class="example-menu" cdkMenu>
          <button (click)="openJob(0)" class="example-menu-item" cdkMenuItem>
            Nuevo Trabajo
          </button>
          <button routerLink="list/jobs" class="example-menu-item" cdkMenuItem>
            Ver Trabajos
          </button>
        </div>
      </ng-template>
    </div>
    <div [cdkMenuTriggerFor]="customerMenu" title="Clientes" class="option">
      <mat-icon class="icon material-symbols-outlined"> person </mat-icon>
      <p>Clientes</p>
      <ng-template #customerMenu>
        <div class="example-menu" cdkMenu>
          <button (click)="openCustomer(0)" class="example-menu-item" cdkMenuItem>
            Nuevo Cliente
          </button>
          <button routerLink="list/customers" class="example-menu-item" cdkMenuItem>
            Ver Clientes
          </button>
        </div>
      </ng-template>
    </div>
    <div [cdkMenuTriggerFor]="productMenu" title="Productos" class="option">
      <mat-icon class="icon material-symbols-outlined">shopping_bag
      </mat-icon>
      <p>Productos</p>
      <ng-template #productMenu>
        <div class="example-menu" cdkMenu>
          <button (click)="openProduct(0)" class="example-menu-item" cdkMenuItem>
            Nuevo Producto
          </button>
          <button routerLink="list/products" class="example-menu-item" cdkMenuItem>
            Ver Productos
          </button>
        </div>
      </ng-template>
    </div>
    <!-- Ventas -->
    <div [cdkMenuTriggerFor]="saleMenu" title="Ventas" class="option">
      <mat-icon class="icon material-symbols-outlined">inventory
      </mat-icon>
      <p>Ventas</p>
      <ng-template #saleMenu>
        <div class="example-menu" cdkMenu>
          <button (click)="openSale(0)" class="example-menu-item" cdkMenuItem>
            Nueva Venta
          </button>
          <button routerLink="list/sales" class="example-menu-item" cdkMenuItem>
            Ver Ventas
          </button>
        </div>
      </ng-template>
    </div>
    <!-- <div title="Generar Comprobante" class="option">
            <mat-icon class="icon material-symbols-outlined">
                note_add
            </mat-icon>
            <p>
                Listados
            </p> -->
    <!-- </div> -->
    <!-- <div  title="Generar Comprobante" class="option">
            <mat-icon class="icon material-symbols-outlined">
            list_alt
            </mat-icon>
        </div> -->
  </div>
</div>
<router-outlet />